= form_with(model: vendor, local: true) do |f|
  .mb-3.aaa
    = f.label :name,"会社名", class: "form-label required"
    = f.text_field :name, class: "form-control",required:true

  .mb-3
    = f.label :phone,"電話番号", class: "form-label"
    = f.text_field :phone, class: "form-control"

  .mb-3
    = f.label :mail,'メールアドレス', class: "form-label"
    = f.email_field :mail, class: "form-control"

  .mb-3
    = f.label :address,"住所", class: "form-label"
    = f.text_field :address, class: "form-control"

  .mb-3
    = f.label :trading_person_name,"担当者名", class: "form-label"
    = f.text_field :trading_person_name, class: "form-control"

  .mb-3
    = f.label :trading_person_phone,"電話番号", class: "form-label"
    = f.text_field :trading_person_phone, class: "form-control"

  .mb-3
    = f.label :trading_person_mail,'メールアドレス', class: "form-label"
    = f.email_field :trading_person_mail, class: "form-control"

  .mb-3
    = f.label :memo,'メモ', class: "form-label"
    = f.text_area :memo, class: "form-control"


  .form-check
    = f.check_box :unused_flag, class: "form-check-input"
    = f.label :unused_flag, "使用停止", class: "form-check-label"

  .mt-3
    = f.submit "保存する", class: "btn btn-success"
