h3 仕入れ業者一覧
= link_to "新規登録", new_vendor_path, class: "btn btn-primary mb-3"

table.table.table-striped
  thead
    tr
      th style='width:200px;' 名称
      th style='width:200px;' 電話番号
      th style='width:200px;' メール
      th style='width:300px;' 住所
      th style='width:200px;' 取引担当者
      th メモ
  tbody
    - @vendors.each do |vendor|
      tr
        td
          = link_to vendor.name, edit_vendor_path(vendor), class: ""
        td = vendor.phone
        td = vendor.mail
        td = vendor.address
        td = vendor.trading_person_name
        td = text_url_to_link(simple_format(h(vendor.memo))).html_safe
