h3 仕入れ業者一覧
= link_to "新規登録", new_vendor_path, class: "btn btn-success mb-3"

table.table.table-striped
  thead
    tr
      th 名称
      th 電話番号
      th メール
      th 住所
      th 取引担当者
      th メモ
      th 使用状況
      th 操作
  tbody
    - @vendors.each do |vendor|
      tr
        td = vendor.name
        td = vendor.phone
        td = vendor.mail
        td = vendor.address
        td = vendor.trading_person_name
        td = vendor.memo
        td = vendor.unused_flag ? '未使用' : '使用中'
        td
          = link_to "編集", edit_vendor_path(vendor), class: "btn btn-primary btn-sm"
          = link_to "削除", vendor, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm"
